<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RespuestaMapper">
    <select id="consultarRespuesta" parameterType="map" resultMap="RespuestaResult">
        SELECT
        r.idRespuesta AS r_idRespuesta,
        r.idOferta AS r_idOferta,
        r.idNecesidad AS r_idNecesidad,
        r.nombre AS r_nombre,
        r.comentarios AS r_comentarios,
        r.fechacreacion AS r_fechacreacion,
        r.fechamodificacion AS r_fechamodificacion,
        r.nickname AS r_nickname,

        FROM Respuesta AS r;

    </select>
    <insert id="agregarRespuesta" parameterType="map">
        INSERT INTO Respuesta(idRespuesta,idOferta,idNecesidad,nombre,comentarios,fechacreacion,fechamodificacion,nickname)
        VALUES (#{cli.idRespuesta},#{cli.idOferta},#{cli.idNecesidad},#{cli.nombre},#{cli.comentarios},#{cli.fechacreacion},#{cli.fechamodificacion,#{cli.nickname});
    </insert>


    <resultMap id="idRespuesta" type="Respuesta" >
        <id property="idOferta" column="r_idCategoria"/>
        <result property="idNecesidad" column="r_nombre" />
        <result property="nombre" column="r_descripcion" />
        <result property="comentarios" column="r_fechacreacion" />
        <result property="fechacreacion " column="r_estado " />
        <result property="fechamodificacion" column="r_fechamodificacion" />
        <result property="nickname" column="r_fechamodificacion" />
    </resultMap>
</mapper>