html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    /* background: #FAF3EC; */
	/* background-image: url('https://images.unsplash.com/photo-1573496782646-e8d943a4bdd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80');
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center; */
	
  }
  
  .full-screen-container {
	background-image: url('https://escuelaing.s3.amazonaws.com/staging/images/_DSC0759.max-1440x800.jpg?AWSAccessKeyId=AKIAWFY3NGTFBJGCIWME&Signature=UEFjuS28JYuRP5FfAeTW37OryRU%3D&Expires=1621563252');
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  

  /* .login-box {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  } */
  .left, .right {
	margin: auto;
	width: 95%;
	height: 96%;
	border-radius: 10px;
  }
  
.left {
	background-image: url("https://escuelaing.s3.amazonaws.com/staging/images/_DSC0759.max-1440x800.jpg?AWSAccessKeyId=AKIAWFY3NGTFBJGCIWME&Signature=UEFjuS28JYuRP5FfAeTW37OryRU%3D&Expires=1621563252");
	background-size: cover;
	background-position: center;
	box-shadow: var(--box-shadow);
  }
  .container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--main-color);
	width: 1200px;
	height: 800px;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	box-shadow: var(--box-shadow);
  }
  /* body{
	margin : 0;
	padding : 0;
	background-image : 
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url(../img/fondologin.jpg);
	background-position: 0, 10;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
} */

.login-box {
	width: 355px;
	height: 350px;
	background: rgba(0,0,0,.5);
	color: #727070;
	top: 50%;
	left: 70%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-color: #fff;
	border-radius: 10px;
	border-top: 3px solid #9c0816;
	border-bottom: 3px solid #9c0816;
}

.login-box .avatar {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	position: absolute;
	top: -58px;
	left: calc(50% - 58px);
} 

.login-box .form-control{
	margin-bottom:10px;
	box-shadow: none;
	background: transparent;
	border:none;
	color: #d4caca;
	width: 100%;
	margin-bottom: 25px;
	border: none;
	outline: none;
	height: 40px;
	font-size: 20px;
	text-shadow: none;
	border-bottom: 2px solid #727070;
}

.login-box .form-control:focus{
	border-bottom: 3px solid #9c0816;
    top: -20px;
  left: 0;
  color: #9c0816;
  font-size: 16px;
}

.login-box button{
	box-shadow: none;
	width: 100%;
	border: none;
	outline: none;
	height: 32px;
	background: #F6F7F9;
	color: #748194;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 18px;
	width: 100%;
	text-shadow: none;
	font-family: Impact;
}

.login-box button:hover{
	background-color: #9c0816;
	color: #6c0c15;
	border: 1px solid #9c0816;
}

.login-box .control-label{
	color: #9c0816;
	font-family: Impact;
}